<h3>Order Detail</h3>
<div class="table100 ver1 m-b-110">
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </thead>
        <tbody>
           <tr *ngFor="let product of orders">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td><a routerLink="/remove-order-detail/{{product.id}}">Remove</a></td>
           </tr>
        </tbody>
    </table>
</div>
