<h2 style="text-align: center;">Product Page Component</h2>
<br />
<br />
<!-- <p>Product name: {{name}}</p>
<p>Name : </p> <input type="text" [(ngModel)]="name" [title]="'This is ' + name">
<p>Price : </p> <input type="number" [(ngModel)]="price" [title]="name + '\'s price is: ' + price">
<br/>
*ngIf="Condition"

<p *ngIf="price > 100000">This product is expensive!</p>
<p *ngIf="price < 100000">This product is cheap!</p> 

*ngIf="Condition; then #template_of_true_condition else #template_of_false_condition"
ng-template
<div *ngIf="price > 100000; then expensive; else cheap;"></div>
<ng-template #expensive>
    This product is expensive!
</ng-template>
<ng-template #cheap>
    This product is cheap!
</ng-template>
<br/>
<button (click)="resetName()">Reset</button> -->
<div class="table100 ver1 m-b-110">
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = 'index + 1'">
                <td>{{i}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <span [ngClass]="{'product_quantity': product.quantity == 0}">
                        {{product.quantity}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>